.table_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: end;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
 
.Heading{
    background: linear-gradient(2deg, #0029FF 19.07%, #2a3acb 28.63%, #af24df 73.07%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 500 !important;
}